.container {
  text-align: center;
}

.intro {
  font-size: 2rem;
}

.name {
  color: #6ea8fe;
  font-size: 4rem;
}

.root {
  width: 100%;
}

.icon {
  margin: 1rem;
  font-size: 2rem;
}

img {
  width: 25%;
  border-radius: 50%;
  border: 2px solid #6ea8fe;
  box-shadow: 0px 0px 25px black;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }

  img {
    min-width: 50%;
  }

  .name {
    font-size: 2rem !important;
  }

  .intro {
    font-size: 1rem;
  }
}
